<div class="dashboard">
  <h1>Milhões de filmes, séries e pessoas para descobrir. Explore já.</h1>
  <span>FILTRE POR:</span>
  <div class="filtro">
    <button>Ação</button>
    <button>Aventura</button>
    <button>Animação</button>
    <button>Comedia</button>
    <button>Crime</button>
    <button>Documentario</button>
    <button>Drama</button>
    <button>Familia</button>
    <button>Fantasia</button>
    <button>Historia</button>
    <button>Terror</button>
    <button>Musica</button>
    <button>Misterio</button>
    <button>Romance</button>
    <button>Ficção cientifica</button>
    <button>Cinema Tv</button>
    <button>Thriller</button>
    <button>Guerra</button>
    <button>Faroeste</button>
  </div>
</div>
