<div class="detalhes">
  <aside>
    <img
      class="logoimagem"
      src="../../../../assets/deadpool.jpg"
      alt="logoFilme"
    />
    <div class="detalhesTotal">
      <h2>Deadpool (2016)</h2>
      <span
        >16 anos • 11/02/2016 (BR) • Ação, Aventura, Comédia, Ficção científica
        • 1h 47m</span
      >
      <div class="avaliacao">
        <img src="../../../../assets/avaliacao.svg" alt="avaliacao" />
        <span>Avaliação dos usuários</span>
      </div>
      <h3>Sinopse</h3>
      <span
        >Baseado no anti-herói não convencional da Marvel Comics, Deadpool conta
        a história da origem do ex-agente das Forças Especiais que se tornou o
        mercenário Wade Wilson. Depois de ser submetido a um desonesto
        experimento que o deixa com poderes de cura acelerada, Wade adota o
        alter ego de Deadpool. Armado com suas novas habilidades e um senso de
        humor negro e distorcido, Deadpool persegue o homem que quase destruiu
        sua vida.
      </span>
      <div class="participantes">
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
      </div>
    </div>
  </aside>
</div>
<div class="elenco">
  <h3>Elenco Original</h3>
  <div class="lista-elenco">
    <div *ngFor="let participante of participantes$ | async">
      <app-card-participantes
        [participante]="participante"
      ></app-card-participantes>
    </div>
  </div>
</div>
