<div class="detalhes" *ngIf="detail$">
  <aside>
    <img
      class="logoimagem"
      src="{{ 'https://image.tmdb.org/t/p/w500/' + detail$.poster_path }}"
      alt="logoFilme"
    />
    <div class="detalhesTotal">
      <h2>{{ detail$.original_title }}</h2>
      <span
        >16 anos • {{ detail$.release_date }} (BR) • {{ getGenres() }} •
        {{ detail$.runtime }} minutos</span
      >
      <div class="avaliacao">
        <img src="../../../../assets/avaliacao.svg" alt="avaliacao" />
        <span>Avaliação dos usuários</span>
      </div>
      <h3>Sinopse</h3>
      <span>{{ detail$.overview }} </span>
      <div class="participantes">
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
        <div>
          <h4>Rob Liedeld</h4>
          <span>Characters</span>
        </div>
      </div>
    </div>
  </aside>
</div>
<div class="elenco">
  <h3>Elenco Original</h3>
  <div class="lista-elenco">
    <div *ngFor="let participante of participantes$ | async">
      <app-card-participantes
        [participante]="participante"
      ></app-card-participantes>
    </div>
  </div>
</div>
