<div class="detalhes" *ngIf="detail$">
  <aside>
    <img
      class="logoimagem"
      src="{{ 'https://image.tmdb.org/t/p/w500/' + detail$.poster_path }}"
      alt="logoFilme"
    />
    <div class="detalhesTotal">
      <h2>{{ detail$.original_title }}</h2>
      <span
        >16 anos • {{ detail$.release_date }} (BR) • {{ getGenres() }} •
        {{ detail$.runtime }} minutos</span
      >
      <div class="avaliacao">
        <img src="../../../../assets/avaliacao.svg" alt="avaliacao" />
        <span>Avaliação dos usuários</span>
      </div>
      <h3>Sinopse</h3>
      <span>{{ detail$.overview }} </span>
      <div class="participantes">
        <div *ngFor="let participante of fiveParticipantes$">
          <h4>{{ participante.name }}</h4>
          <span>{{ participante.known_for_department }}</span>
        </div>
        <div *ngFor="let participante of fiveProducao$">
          <h4>{{ participante.name }}</h4>
          <span>{{ participante.known_for_department }}</span>
        </div>
      </div>
    </div>
  </aside>
</div>
<div class="elenco">
  <h3>Elenco Original</h3>
  <div class="lista-elenco">
    <div *ngFor="let participante of participantes$ | async">
      <app-card-participantes
        *ngIf="participante.profile_path"
        [participante]="participante"
      ></app-card-participantes>
    </div>
  </div>
</div>
<div class="trailer">
  <h3>Trailer</h3>
  <div class="trailer-video">
    <iframe
      [src]="safeUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div class="recomendacoes">
  <h3>Recomendações</h3>
  <div class="lista-recomendacoes">
    <div class="lista-recomendacoes">
      <app-card-movie
        *ngFor="let filme of recomendacoes$ | async"
        [movie]="filme"
        (click)="load(filme.id)"
      ></app-card-movie>
    </div>
  </div>
</div>
