.mainComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-left: 7%;
  gap: 2rem;
  app-card-movie {
    margin-top: 2rem;
  }
  button {
    width: 100px;
    height: 30px;
  }
}
