<div class="mainComponent">
  <app-card-movie
    *ngFor="let filme of filmes$ | async"
    [movie]="filme"
    routerLink="/details/{{ filme.id }}"
  ></app-card-movie>
</div>
<div class="sistemaButoes">
  <button (click)="previousPage()">Anterior</button>
  <button
    *ngFor="let item of forIn(quantidadepaginas | async)"
    (click)="changePage(item + 1)"
    [ngClass]="{ active: this.tmdbapiService.getPaginas() == item + 1 }"
  >
    {{ item + 1 }}
  </button>
  <button (click)="nextPage()">Proxima</button>
</div>
